/*General*/
.block {
  display: block;
  margin-bottom: 10px;
}
.cuerpo {
  background-color: white;
  margin: 0px, 0px, 0px, 0px;
}
.centradoHorizontal {
  margin-left: auto;
  margin-right: auto;
}
.centradoVerticalPadre {
  align-items: center;
  display: flex;
}
.centro {
  float: none;
  text-align: center;
}
.dato {
  margin-bottom: 0px;
}
.derecha {
  display: inline-flex;
  justify-self: right;
}
.espaciado {
  justify-content: space-between;
}
.hijo {
  height: 100%;
  width: 100%;
}
.inline {
  display: inline-block;
}
.invisible {
  display: none;
}
.menu {
  background-color: rgb(38, 38, 38);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  width: 250px;
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
}
.menuContenido {
  position: absolute;
  top: 100px;
  width: 100%;
}
.menuItem:hover {
  color: rgb(124, 226, 0);
  transition: all 250ms ease;
}
.nav {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 15px;
}
.tab {
  margin-left: 10px;
}
.textoBlanco {
  color: white;
}
.textoNegro {
  color: black;
}
.opciones {
  position: absolute;
  width: 100%;
  top: 60px;
  padding-left: 20px;
}
.panelGrande {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 100px;
  bottom: 10px;
}
.panelMediano {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 140px;
  bottom: 10px;
}
.scrollY {
  overflow-y: scroll;
}
.scrollY::-webkit-scrollbar {
  background-color: rgb(191, 191, 191);
  border-radius: 15px;
  width: 15px;
}
.scrollY::-webkit-scrollbar-thumb {
  background-color: rgb(231, 230, 230);
  border-color: rgb(191, 191, 191);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}
.scrollY::-webkit-scrollbar-thumb:active {
  background-color: rgb(241, 241, 241);
}
.scrollY::-webkit-scrollbar-thumb:hover {
  background-color: rgb(236, 236, 236);
}
/*Controles*/
.boton {
  background-color: rgb(105, 192, 0);
  border-radius: 5px;
  border-style: none;
  color: white;
  height: 25px;
  transition: all 250ms ease;
}
.boton:active {
  background-color: rgb(155, 255, 33);
}
.boton:hover {
  background-color: rgb(124, 226, 0);
}
.botonImagen {
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.btnMed {
  width: 260px;
}
.btnPeq {
  width: 130px;
}
.campoBusqueda {
  background-color: white;
  border-color: rgb(166, 166, 166);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  width: 250px;
}
.campoLimpio {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  color: black;
  height: 25px;
  padding: 5px;
  width: 230px;
}
.campoTexto {
  background-color: white;
  border-color: rgb(166, 166, 166);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: black;
  height: 15px;
  padding: 5px;
  width: 250px;
}
.campoTexto:focus {
  border-color: rgb(0, 112, 192);
  border-width: 3px;
}
.combo {
  border-style: none;
}
.textoBoton {
  display: inline-block;
  margin-bottom: 0px;
  width: 90%;
}
.titulo1 {
  font-size: 40px;
  margin-top: 0px;
}
.titulo2 {
  font-size: 30px;
  margin-top: 0px;
}
.titulo3 {
  font-size: 20px;
  margin-top: 0px;
}
/*Extra*/
.pagina {
  height: 100%;
  position: absolute;
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}