.tag {
    background-color: rgb(231, 230, 230);
    border-radius: 5px;
    color: gray;
    height: auto;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.tags {
    margin-top: 10px;
}